
#root {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.footer {
  margin: 0;
border: solid;
grid-column: span 2;
}

.header {
  border: solid;
  grid-column: span 2;
}

.nav {
  display: inline;
  max-width: 100px;
  border: solid;
  grid-column: 1;
  grid-row: 2 / span 3;
}

body {
  margin: 0;
}
